.btn {
    background-color: #fff;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 15px;

    &:hover {
        background-color: red;
        border: 1px solid red;
        color: #fff;
    }

    &.active {
        background-color: red;
        border: 1px solid red;
        color: #fff;
    }
}

.btnActive {
    composes: btn;
    background-color: red;
    border: 1px solid red;
    color: #fff;
}